<footer class="footer">

  <nav class = menu_bas>
    <div class=" menu_bas-left">
      <small>
        The
        <a href="http://www.railstutorial.org/">HTML/CSS</a>
        by
        <a href="http://www.michaelhartl.com/">RESSOURCE</a>
      </small>

        </div>
    <div class="menu_bas_right">


    <ul>
      <a href="http://facebook.com/" title="Suivez-moi sur facebook !" <i class="fab fa-facebook"></i></a>
      <a href="http://github.com/" title="Suivez-moi sur guithub !" <i class="fab fa-github"></i></a>
      <a href="http://instagram.com/" title="Suivez-moi sur instagram !" <i class="fab fa-instagram"></i></a>
      <a href="http://news.railstutorial.org/">News</a>
      </ul>
      </div>

        </nav>
      </footer>
