<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/stylesheets/header.css.scss"> -->

    <title>Site web</title>
  </head>
  <body>
    <header role ="header">

<!-- menu se dévise en 2 partie  -->
      <nav class ="menu" role ="navigation">
<!-- mettre la header_texture (image aprés) aprés e=le menu pour prendre la meme height -->
        <div class="header_texture"></div>
<!-- arrondir le header texture à la fin -->
        <div class="header_texture_arrondi">
          <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
          <path d="M0 100 L 0 0 C 25 100 75 100 100 0 L 100 100" fill="#fff"></path>
        </svg>
        </div>

        <div class="inner">
<!-- menu gauche -->
            <div class="m-left">
              <h1 class ="logo"> MyKamus'App</h1>
            </div>
<!-- menu droit    -->
            <div class="m-right">
              <a href="#" class="m-link"><i class="fas fa-home"></i> Accueil</a>
              <a href="#" class="m-link"><i class="far fa-newspaper"></i> Article</a>
              <a href="#" class="m-link"><i class="fas fa-question"></i> A propos</a>
              <a href="#" class="m-link"><i class="fas fa-envelope"></i> Contact</a>

              <img src="/assets/photo.jpg" class="avatar" />




              <!-- <a href="#" class="m-link"><i class="fas fa-user-circle" ></i></a> -->
            </div>
            </div>


<!-- creer le hambouger pour le responsive -->
            <div class= "m-nav-toggle">
              <span class= "m-toggle-icon"></span>
            </div>

          </div>

      </nav>
      <div class="header_slogan">
          <h1 class="header_slogan_title">THP une experience unique</h1>
          <a href="#" class="header_slogan_btn">Rejoins-nous!</a>

      </div>
    </header>
  </body>
</html>
